/* src/components/Footer/Footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Garante que o footer fique na parte inferior da página */
}

.footer__copyright {
  font-size: 14px;
  margin: 0;
}